ul li{
    display: inline;
    list-style-type: none;
    color: grey; 
    padding: 10px;
}

a {
    color: grey;
    text-decoration: none;
}

h2 {
    color: #4aaaa5;
}

.h1header {
    background-color: white;
    margin-top: 0px;
    border: 1px grey solid;
    min-width: 900px;
    width: 100%;
    position: relative;
    overflow: hidden;
} 

.ulheader {
    position: absolute;
    top: 10px;
    white-space: nowrap;
    left: 800px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

body {
    /*background-color: rgb(184, 179, 179);*/
    background-image: url('../images/light_grey_floral_motif.png');
}

img {
    width: 270px;
    padding: 20px;
    float: left;
}

.main-page {
    background-color: grey;
    position: relative;
    margin-bottom:20px;
    margin-top: 0px;
    width: 100%;
}

.inside-main-page {
    height: 600px;
    max-width: 960px;
    padding: 15px;
    background-color: white;
    border-color: #292727;
    position: absolute;
    left: 150px;
    top: 10px;
    bottom: 100px;
    border: 1px solid grey;
    overflow: auto;
}

p{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    padding: 15px;
    line-height: 30px;
}

h1{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 0;
    margin-bottom:0;
    padding: 10px;
    color: white;
    background-color: #4aaaa5;
    width: 205px;
    font-family: Georgia, Times, Times New Roman, serif;
}

footer {
    background-color: #666666;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    border-top:8px solid #4aaaa5;
}

.main-page-link {
    color: purple;
    text-decoration: underline;
}
